
.icon-user:before { content: '\e800'; } /* '' */
.icon-pencil-neg:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */